<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snaker.activiti.mapper.BizNodeMapper">

    <resultMap type="BizNode" id="BizNodeResult">
        <result property="id" column="id"/>
        <result property="nodeId" column="node_id"/>
        <result property="type" column="type"/>
        <result property="auditor" column="auditor"/>
    </resultMap>

    <sql id="selectBizNodeVo">
        select id, node_id, type, auditor from biz_node
    </sql>

    <select id="selectBizNodeList" parameterType="BizNode" resultMap="BizNodeResult">
        <include refid="selectBizNodeVo"/>
        <where>
            <if test="nodeId != null  and nodeId != ''">and node_id = #{nodeId}</if>
            <if test="type != null ">and type = #{type}</if>
            <if test="auditor != null ">and auditor = #{auditor}</if>
        </where>
    </select>

    <select id="selectBizNodeById" parameterType="String" resultMap="BizNodeResult">
        <include refid="selectBizNodeVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizNode" parameterType="BizNode">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(), '-', '') as id
        </selectKey>
        insert into biz_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="nodeId != null  and nodeId != ''">node_id,</if>
            <if test="type != null ">type,</if>
            <if test="auditor != null ">auditor,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="nodeId != null  and nodeId != ''">#{nodeId},</if>
            <if test="type != null ">#{type},</if>
            <if test="auditor != null ">#{auditor},</if>
        </trim>
    </insert>

    <update id="updateBizNode" parameterType="BizNode">
        update biz_node
        <trim prefix="SET" suffixOverrides=",">
            <if test="nodeId != null  and nodeId != ''">node_id = #{nodeId},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="auditor != null ">auditor = #{auditor},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizNodeById" parameterType="String">
        delete from biz_node where id = #{id}
    </delete>

    <delete id="deleteBizNodeByNodeId" parameterType="String">
        delete from biz_node where node_id = #{nodeId}
    </delete>

    <delete id="deleteBizNodeByIds" parameterType="String">
        delete from biz_node where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <!-- 批量插入 -->
    <insert id="insertList" parameterType="java.util.List">
        insert into biz_node
        ( id, node_id, type, auditor)
        values
        <foreach collection="list" item="bizNode" index="index" separator=",">
            (
            (select replace(uuid(), '-', '') as id),
            #{bizNode.nodeId},
            #{bizNode.type},
            #{bizNode.auditor}
            )
        </foreach>
    </insert>

</mapper>